<div class="container-fluid">
  <div class="well">
    <h1>Lista de los Tipos de Vehiculos</h1>
  </div>
  <div class="row p-2">
    <div class="col">
      <h3> Seleccione el ID del TipoVehiculo sobre el cual desea más información: </h3>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-6">
      <ul class="list-group">
        <li class="list-group-item" (click)="onSelected(r)" *ngFor="let r of tipoVehiculos">{{r.id}}</li>
      </ul>
    </div>
    <div *ngIf="selected" class="col-6">
      <div class="well">
        <app-tipoVehiculoDetail [tipoVehiculoDetail]="selectedTipoVehiculo"></app-tipoVehiculoDetail>
      </div>
    </div>
  </div>