<div class="container-fluid">
<div class="well">
<h1>Lista de los Tipo de Vehiculos</h1>
</div>
  <div class="row p-2">
  <h1> ID de los Tipo de Vehiculos </h1>
  </div>
  <div class="row p-2">
    <div class="col-1" *ngFor="let r of tipoVehiculos">
        <div class = "row">
          <h4 (click)="onSelected(r)">{{r.id}}</h4>
        </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col border">
      <div *ngIf="selected">
          <app-tipoVehiculoDetail [tipoVehiculoDetail] = "selectedTipoVehiculo"></app-tipoVehiculoDetail>
      </div>
    </div>
  </div>
</div>