<div class="container-fluid">
  <p class="h3 p-3">Encuesta número {{encuestaDetail.id}}</p>
  <div class="row">
      <dl class >
        <div class = "row">
          <div class ="col">
            <dt> Calificacion</dt>
            <dd>{{encuestaDetail.calificacion}}</dd>
          </div>
          <div class = "col">
            <dt>Comentario</dt>
            <dd>{{encuestaDetail.comentario}}</dd>
          </div>
          <div class = "col">
            <dt>Id profesor</dt>
            <dd >{{encuestaDetail.idProfesor}}</dd>
          </div>
          <div class = "col">
            <dt>Id Reserva</dt>
            <dd>{{encuestaDetail.idReserva}}</dd>
          </div>
       
        </div>    
      </dl>
  </div>
</div>