<div class="container-fluid">
  <p class="h3 p-3">{{registroDetalle.id}}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt>RTM vence: </dt>
        <dd>{{registroDetalle.rtm}}</dd>
        <hr>
        <dt>SOAT vence:</dt>
        <dd>{{registroDetalle.soat}}</dd>
        <hr>
        <dt>PRSC vence:</dt>
        <dd>{{registroDetalle.prsc}}</dd>
        <hr>
        <dt>PRSE vence:</dt>
        <dd>{{registroDetalle.prse}}</dd>
        <hr>
        <dt>Vigente:</dt>
        <dd>{{registroDetalle.vigente}}</dd>

      </dl>
    </div>
  </div>
</div>