<div class="container-fluid">
  <div class = "row">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Id</th>
          <th class="h4">Nombre</th>
          <th class="h4">Identificacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of conductores">
          <td>
            <dd>{{s.id}}</dd>
          </td>
          <td>
            <dd (click) = "onSelected(s)">{{s.name}}</dd>
          </td>
          <td>
            <dd>{{s.idConductor}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <div class="col border">
      <div *ngIf="selected">
        <app-conductor-detail [conductorDetail]="selectedConductor"></app-conductor-detail>
      </div>
  </div>
  </div>
</div>
</div>
