<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Id</th>
          <th class="h4">Id Profesor</th>
          <th class="h4">Calificacion</th>
          <th class="h4">Comentario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of encuestas">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td>
            <dd>{{c.idProfesor}}</dd>
          </td>
          <td>
            <dd>{{c.calificacion}}</dd>
          </td>
          <td>
            <dd>{{c.comentario}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>