<h1>PARQUE AUTOMOTOR</h1>
<h1 >Lista de Vehiculos</h1>
<app-Vehiculo></app-Vehiculo>
<h1 >Lista de Registros</h1>
<app-Registro></app-Registro>
<h1 >Lista de Profesores</h1>
<app-Profesor></app-Profesor>
<h1 >Lista de Practicas</h1>
<app-Practica></app-Practica>
<h1 >Lista de Estudiantes</h1>
<app-Estudiante></app-Estudiante>
<h1 >Lista de Encuestas</h1>
<app-Encuesta></app-Encuesta>
<h1>Lista de Conductores</h1>
<app-listar-Conductor></app-listar-Conductor>
<h1>Lista agendas de un conductor</h1>
<app-listar-Agenda></app-listar-Agenda>
<h1>Lista de Reservas</h1>
<app-reserva-listar></app-reserva-listar>
<h1>Lista de Tipos de Vehículo</h1>
<app-tipoVehiculo-listar></app-tipoVehiculo-listar>
