<div class="container-fluid">
  <p class="h3 p-3">{{vehiculoDetail.placa}}</p>
  <div class="row">
      <dl class >
        <div class = "row">

          <div class ="col">
            <dt> Id </dt>
            <dd>{{vehiculoDetail.id}}</dd>
          </div>
          <div class ="col">
            <dt> Placa</dt>
            <dd>{{vehiculoDetail.placa}}</dd>
          </div>
          <div class = "col">
            <dt>Marca</dt>
            <dd>{{vehiculoDetail.marca}}</dd>
          </div>
          <div class = "col">
            <dt>Modelo</dt>
            <dd >{{vehiculoDetail.modelo}}</dd>
          </div>
          <div class = "col">
            <dt>Capacidad</dt>
            <dd>{{vehiculoDetail.capacidad}}</dd>
          </div>
          <div class = "col">
            <dt>Id Registro</dt>
            <dd>{{vehiculoDetail.registro.id}}</dd>
          </div>
        </div>    
      </dl>
  </div>
</div>
