<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Destino</th>
          <th class="h4">Descripcion</th>
          <th class="h4">Tiempo De Desplazamiento(H)</th>
          <th class="h4">Duracion(H)</th>
        </tr>
      </thead>
      <tbody>
          <td>
            <dd>{{practicaDetail.destino}}</dd>
          </td>
          <td>
            <dd>{{practicaDetail.descripcion}}</dd>
          </td>
          <td>
            <dd>{{practicaDetail.tiempoDeDesplazamiento}}</dd>
          </td>
          <td>
            <dd>{{practicaDetail.duracion}}</dd>
          </td>
         
         
      </tbody>
    </table>
  </div>
</div>