

<div class="container-fluid">
  <div class=row>
   
      <div *ngFor="let c of profesores" class="card" style="width: 16rem;">
        <figure class="figure">
          <img src='https://image.flaticon.com/icons/png/512/236/236909.png' height="100" width="150" />
          <figcaption class="title-caption text-center"> <b class="card-text">Id:</b>{{c.id}}</figcaption>
          <figcaption class="title-caption text-center"><b class="card-text">Nombre:</b>{{c.nombre}}</figcaption>
          <figcaption class="title-caption text-center"><b class="card-text">Numero identificacion:</b>{{c.identificacion}}</figcaption>
        </figure>
    
    </div>
  </div>
</div>