<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Id</th>
          <th class="h4">Nombre</th>
          <th class="h4">Numero Identificacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of profesores">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td>
            <dd>{{c.nombre}}</dd>
          </td>
          <td>
            <dd>{{c.identificacion}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>